.banner-top {
  padding-top: 364px;
  padding-bottom: 97px;
  position: relative;
  background: url(../images/bg.jpg) center/cover no-repeat;

  @include max-w(1920px) {
    background: url(../images/bg.jpg) right/cover no-repeat;
  }

  @include max-w(1025px) {
    padding-top: 207px;
  }

  @include max-w(800px) {
    padding-top: 226px;
    padding-bottom: 40px;
    background-position: 63% 100%;
  }

  @include max-w(480px) {
    padding-top: 226px;
  }

  @include max-w(375px) {
    padding-bottom: 20px;
    padding-top: 204px;
  }
}


.banner-top {

  h2 {
    color: #ffffff;
    font-family: $font-family-bold;
    font-size: 7.2rem;
    margin-bottom: 87px;
    text-align: center;
     
    @include max-w(1180px) {
      font-size: 6.5rem;
    }

    @include max-w(1068px) {
      font-size: 6rem;
    }

    @include max-w(800px) {
      font-size: 5rem;
    }

    @include max-w(480px) {
      line-height: 5rem;
      margin-bottom: 20px;
    }

    @include max-w(400px) {
      font-size: 4rem;
    }

    @include max-w(375px) {
      line-height: 4rem;
    }

    @include max-w(320px) {
      font-size: 3.5rem;
    }
  }
}


.form-block {
  max-width: 923px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #182236;

  @include max-w(800px) {
    max-width: 600px;
  }

  @include max-w(480px) {
    padding-right: 0;
    padding-left: 0;
  }

  @include max-w(375px) {
    padding-top: 12px;
  }

  span {
    display: block;
    text-align: center;
    color: #ffffff;
    font-family: $font-family-bold;
    padding-bottom: 24px;
    font-size: 2.5rem;

    @include max-w(480px) {
      font-size: 2rem;
    }

    @include max-w(400px) {
      font-size: 1.7rem;
    }

    @include max-w(3750px) {
      line-height: 2rem;
    }

    br {
      display: none;

      @include max-w(400px) {
        display: block;
      }
    }
  }
}

.my-form {
  display: flex;
  justify-content: space-between;

  @include max-w(943px) {
    flex-direction: column;
    align-items: center;
  }

  @include max-w(375px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}





/*------------------------.content-block------------------------------*/





.content-block {
  background-color: #f4fbfa;
  padding-top: 100px;
  padding-bottom: 100px;

  @include max-w(800px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include max-w(400px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include max-w(320px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.content-block .page-container{
  display: flex;
  justify-content: space-between;

  @include max-w(800px) {
    flex-direction: column;
    align-items: center;
  }
}

.content-block__right,
.content-block__left {
  width: 48.5%;
  position: relative;

  @include max-w(800px) {
    width: 86%;
  }

  @include max-w(480px) {
    width: 100%;
  }

  img {
    display: block;

    @include max-w(800px) {
      width: 100%;
    }
  }

  .content-block__list {
    background-color: #ffffff;
    box-shadow: 0 0 27px rgba(119, 119, 119, 0.2);

    ul {
      padding-top: 22px;
      padding-left: 28px;

      @include max-w(800px) {
        padding-right: 10px;
      }

      @include max-w(375px) {
        padding-top: 15px;
        padding-left: 15px;
      }

      li {

        span {
          font-size: 2rem;
          font-family: $font-family-bold;
        }

        p {
          font-size: 1.6rem;

          br {
            display: none;
          }
        }
      }
    }
  }
}


.content-block__left {

  @include max-w(800px) {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include max-w(400px) {
    margin-top: 40px;
  }

  @include max-w(320px) {
    margin-top: 30px;
  }

  .content-block__list {
    padding-bottom: 85px;

    @include max-w(800px) {
      padding-bottom: 25px;
    }
  }

  .content-block__picture {
    margin-bottom: 50px;

    @include max-w(800px) {
      width: 100%;
      order: 2;
      margin-top: 50px;
      margin-bottom: 0;
    }

    @include max-w(400px) {
      margin-top: 40px;
    }

    @include max-w(320px) {
      margin-top: 30px;
    }
  }
}


.content-block__right {
   padding-top: 50px;

  @include max-w(800px) {
    padding-top: 0;
  }

  .content-block__list {
    padding-bottom: 25px;
  }
  
  .content-block__picture {
    margin-top: 78px;

    @include max-w(800px) {
      margin-top: 50px;
    }

    @include max-w(400px) {
      margin-top: 40px;
    }

    @include max-w(320px) {
      margin-top: 30px;
    }
  }
}




/*----------------------.banner-bot-----------------------------*/




.banner-bot {
  padding-top: 92px;
  padding-bottom: 205px;
  background: url(../images/bg-bot.jpg) center/cover no-repeat;

  @include max-w(1024px) {
    padding-top: 40px;
  }

  @include max-w(400px) {
    padding-top: 20px;
  }

  @include max-w(375px) {
    padding-top: 0;
  }
}

.banner-bot__content.page-container {
   
  @include max-w(320px) {
    padding-right: 0;
    padding-left: 0;
  }
}


.banner-bot__content {
  color: #ffffff;
  text-align: center;

  h2 {
    font-family: $font-family-bold;
    font-size: 6rem;
    margin-bottom: 33px;

    @include max-w(1024px) {
      font-size: 5rem;
    }

    @include max-w(800px) {
      font-size: 4rem;
    }

    @include max-w(480px) {
      margin-bottom: 10px;
    }

    @include max-w(400px) {
      font-size: 3.2rem;
    }

    @include max-w(375px) {
      font-size: 3rem;
    }

    @include max-w(320px) {
      font-size: 2.6rem;
    }
  }

  p {
    font-size: 2rem;
    line-height: 2.3rem;
    font-family: $font-family-bold;

    @include max-w(375px) {
      font-size: 1.7rem;
      line-height: 2.7rem;
    }

    @include max-w(320px) {
      padding-right: 10px;
      padding-left: 10px;
    }

    br {

      @include max-w(480px) {
        display: none;
      }
    }
  }

  span {
    font-size: 2rem;
    display: block;
    text-align: center;
    margin-top: 21px;

    @include max-w(375px) {
      font-size: 1.7rem;
    }
  }
}





/*----------------------.products-block-----------------------------*/




.page-container.products-block__list {
  padding-right: 0;
  padding-left: 0;
  position: relative;
  top: -115px;

  @include max-w(375px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.products-block {
  background-color: #80f9c3;

  &__list {
    display: flex;
    justify-content: space-between;

    @include max-w(800px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__content {
    display: block;
    text-align: center;
    color: #1e2738;
    font-family: $font-family-bold;
    font-size: 2.4rem;
    z-index: 2;
    position: relative;
  }
}


.products-block__element {
  width: 33.333%;
  background-color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 113px;
  padding-bottom: 86px;
  position: relative;

  @include max-w(800px) {
    width: 42%;
    margin-bottom: 84px;
  }

  @include max-w(610px) {
    width: 62%;
  }

  @include max-w(400px) {
    width: 82%;
  }

  @include max-w(375px) {
    width: 100%;
  }
}

.step-num {
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #81f9c4;
  font-size: 3rem;
  border: 7px solid #ffffff;
  border-radius: 52px;
  font-family: $font-family-bold;
  position: absolute;
  top: -57px;
  left: 0;
  right: 0;
  margin: auto;

  span {
    display: block;
    text-align: center;
  }
}

.products-block__first {
  padding-top: 99px;
}

.products-block__last {

  @include max-w(800px) {
    margin-bottom: 0;
  }
}

.num-element {
  display: block;
  width: 100%;
  color: #e9fff5;
  font-size: 20rem;
  position: absolute;
  text-align: center;
  top: 119px;
}





/*----------------------------.products-block__list-products--------------------------------*/




.products-block__list-products {
  padding-bottom: 88px;

  @include max-w(800px) {
    padding-bottom: 60px;
  }

  @include max-w(400px) {
    position: relative;
    top: -53px;
    padding-bottom: 0px;
  }

  @include max-w(320px) {
    top: -63px;
  }

  h2 {
    font-family: $font-family-bold;
    color: #1e2738;
    font-size: 6rem;
    text-align: center;
    line-height: 1.3rem;
    margin-bottom: 55px;

    @include max-w(1024px) {
      font-size: 5rem;
    }

    @include max-w(800px) {
      font-size: 4rem;
    }

    @include max-w(400px) {
      font-size: 3.2rem;
      margin-bottom: 35px;
    }

    @include max-w(375px) {
      font-size: 3rem;
    }

    @include max-w(320px) {
      font-size: 2.6rem;
    }
  }

  ul {
    padding-left: 0;

    li {
      color: #1e2738;
      font-family: $font-family-bold;
      font-size: 2rem;
      line-height: 3.6rem;
      padding-left: 34px;
      background-image: url(../images/selection.png);
      background-repeat: no-repeat;
      background-position-y: center;

      @include max-w(610px) {
        line-height: 4.5rem;
      }
    }
  }
}


.list {
  display: flex;
  justify-content: space-around;

  @include max-w(610px) {
    flex-direction: column;
    align-items: center;
  }

  @include max-w(320px) {
    margin-bottom: -28px;
  }
}
