.page-footer {
	position: relative;
  background-color: #1e2738;
  padding-bottom: 22px;
  padding-top: 22px;

  span {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
  }
}
